/* Removing and setting global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

/* Setting root font-size */

:root {
	font-size: 24px;
}

/*  */

body > div {
	padding: 1em;
}

/* Nav styles */

nav {
	background-color: #65d6ce;
	padding: 1.2em;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

ul {
	list-style-type: none;
	/* padding: none; */
}

ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
	padding: 0.6em 0.6em 0.6em 0.6em;
	font-weight: bold;
}

ul li {
	display: inline;
}

ul li a:hover {
	color: #000000;
}

p {
	font-size: 0.8em;
}

#welcome {
	font-size: 1em;
	font-weight: bolder;
}

span {
	font-size: 0.8em;
}

#img-profile {
	height: auto;
	max-width: 65%;
}

/* About styles */

#about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #ffe9d6;
	padding-bottom: 1em;
}

#about > * {
	padding: 0.5em;
}

.github-info {
	border: none;
	padding: 0.4em;
	background-color: #fa9579;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

#resume {
	font-size: 0.9em;
	margin: 1em;
	padding: 0.9em;
	text-align: center;
	background-color: #85a7e7;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

#resume a {
	text-decoration: none;
	color: #000000;
}

#resume a:hover {
	color: #ffffff;
}

/* Skills styles */

#skills {
	display: flex;
	/* width: 100%; */
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#skills > * {
	width: 42%;
	padding-bottom: 10%;
	/* background-color: #85a7e7; */
	background-color: rgb(247, 169, 208);
	padding: 2em;
	margin: 0.5em;
}

.skill-card {
	text-align: center;
	border-radius: 15px;
	font-weight: bolder;
	color: rgb(0, 0, 0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.skill-card > :first-child {
	text-transform: uppercase;
}
.skill-card:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

h1 {
	text-align: center;
	margin-top: 1em;
}

/* Project and project list styles */

#projects {
	/* display: flex;
	flex-direction: column; */
	/* padding: 1.2em; */
	/* text-align: center; */
	/* margin: none; */
	/* margin-left: -0.5rem; */
}

#projects > ul {
	/* display: grid; */
	display: flex;
	flex-direction: column;
	/* grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	grid-gap: 1rem; */
}

#projects > ul > li {
	/*background-color: rgba(181, 170, 245, 0.774);
	*/ /*background-color: #85a7e7;
	*/
	border-radius: 1rem;
	background-color: rgb(247, 169, 208);
	padding: 2em;
	/*margin: auto;
	*/ /*margin-top: 1rem;
	margin-bottom: 1rem;
	margin: 3rem;
	*/
	margin: 1rem 5rem;
	-webkit-border-radius: 1r;
	-moz-border-radius: 1r;
	-ms-border-radius: 1r;
	-o-border-radius: 1r;
}

#projects > ul > li > p {
	line-height: 1.5;
	padding: 1rem 0.75rem;
}

/* .project-list {
	height: 12em;
} */

.project-list > li {
	padding: 2em;
}

.project-list > a {
	padding: 0.7rem 1rem;
	margin: 0.5em;
	color: #000000;
	/* background-color: #fa9579; */
	background-color: #65d6ce;
	font-size: 0.6em;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

/* Blog styles */

.single-blog {
	margin: 0.5rem;
	background-color: #F3F4F6;
}

.single-blog > p {
	font-size: 0.9rem;
}

#blogs h3 {
	margin-bottom: 1em;
}

#blogs {
	margin: 2em;
}

#blogs > * {
	line-height: 1.4em;
}

.blog {
	margin-bottom: 3em;
	padding: 2em;
	background-color: rgb(247, 169, 208);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.blog > h3 > a {
	text-decoration: none;
	color: #000000;
}

.blog > h3 > a:hover {
	color: #2f1af0;
}

.single-blog {
	padding: 2em;
}

.single-blog > * {
	margin: 1em;
}

/* Footer stlyes */

footer {
	background-color: #65d6ce;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	color: #000000;
	text-align: center;
	font-size: 1.2rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

footer p {
	margin-bottom: 1rem;
	color: white;
	font-size: 1rem;
}

footer ul li {
	display: inline;
	/* margin: auto; */
	/* min-width: 15rem; */
}

/* Social media icon styles */

.fa {
	padding: 8px;
	width: 45px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	color: #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background-color: #3b5998;
}

.fa-twitter {
	background-color: #55acee;
}

.fa-github {
	background-color: #000000;
}

.fa-reddit {
	color: white;
}

.fa-linkedin {
	background-color: #007bb5;
}

.fa-instagram {
	background-color: #ea4c89;
}

.fa-reddit {
	background-color: orange;
}

.blog > a {
	display: block;
	text-align: center;
	max-width: 6rem;
	text-decoration: none;
	/* padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	margin-top: 1rem; */
	margin-top: 1rem;
	padding: 0.3rem 0rem;
	/* border: none; */
	background-color: #65d6ce;
	color: #000000;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
	font-weight: bolder;
	font-size: 0.8em;
}

/* Media rule for 500px screen sizes */

@media screen and (max-width: 500px) {
	ul li {
		display: block;
	}

	#skills {
		flex-direction: column;
		padding: 1em;
		/* margin: 1em; */
		align-items: center;
		/* margin: auto; */
	}

	#skills > * {
		/* width: 42%; */
		padding-bottom: 10%;
		/* background-color: #85a7e7; */
		background-color: #fa9579;
		padding: 2em;
		/* margin-left: -35px; */
		/* margin: 0.5em; */
	}

	span {
		font-size: 0.5em !important;
	}

	#github-followers,
	#github-following {
		font-size: 1em !important;
	}

	#skills > * {
		/* padding: 4em !important; */
		/* padding: 4rem; */
		padding: 2rem 1rem;
		background-color: rgb(247, 169, 208);
		/* margin: 1em; */
	}

	#projects ul li {
		margin: 1rem 0rem;
		background-color: rgb(247, 169, 208);
		border-radius: 1rem;
	}

	.project-list > a {
		display: block;
		padding: 0.25rem 0.35rem;
		margin: 0.5em;
		margin-bottom: 1em;
	}

	.skill-card > * {
		font-size: 0.7em;
		text-align: center;
	}

	/* footer {
		background-color: #65d6ce;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		color: #000000;
		text-align: center;
		font-size: 1.2rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	} */

	/* footer ul li {
		display: block;
	} */
}

/* Media rule for 360px screen sizes */

@media screen and (max-width: 360px) {
	ul li {
		display: block;
	}

	#skills {
		flex-direction: column;
	}

	#skills > * {
		/* width: 42%; */
		/* padding-bottom: 10%; */
		/* background-color: #85a7e7; */
		padding: 2rem 1rem;
		background-color: rgb(247, 169, 208);
	}
	/* padding: 2em;  */
	/* margin: 0.5em;
	}

	span {
		font-size: 0.5em !important;
	}

	#github-followers,
	#github-following {
		font-size: 1em !important;
	}

	#projects ul > li {
		/* width: 250px; */
	/* height: auto; */

	#projects ul li {
		margin: 1rem 0rem;
		background-color: rgb(247, 169, 208);
		border-radius: 1rem;
	}

	.skill-card > * {
		font-size: 0.7em;
		text-align: center;
	}

	.project-list > a {
		display: block;
		padding: 0.25rem 0.35rem;
		margin: 0.5em;
		margin-bottom: 1em;
	}

	/* footer  {
		display: block;
	} */

	/* footer {
		background-color: #65d6ce;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		color: #000000;
		text-align: center;
		font-size: 1.5rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	} */
}
